.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1D;
  width: 100vw;
  height: 100vh;
}

.card {
  background: radial-gradient(#475569, #334155);
  width: 20em;
  height: 35em;
  border-radius: .25em;
  padding: 1em;
  transition: all 300ms;
  color: #ccc
}

.card:hover {
  box-shadow: rgba(218, 48, 35, 0.8) 0px 0px 30px 7px;

}

.card_img {
  width: 100%;
  border-radius: .25em;
}

.head {
  text-align: center;
}

.btn {
  text-align: center;
  text-decoration: none;
  padding: 1em;
  border-radius: .25em;
  background-color: #282c34;
  color: white;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}